@charset "utf-8";
/* CSS Document */
#tombol{
	display:none;
}.table {
	display: table-footer-group;
	border-top-style: 0;
	border-right-style: 0;
	border-bottom-style: 0;
	border-left-style: 0;
	top: 0px;
	clip: rect(0px,auto,auto,auto);
	background-position: top;
	position: static;
}
